# Base de datos - Supabase
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="genera-uno-con: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (para login admins + Google Calendar)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Conekta
CONEKTA_PRIVATE_KEY=""
NEXT_PUBLIC_CONEKTA_PUBLIC_KEY=""

# PayPal
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""

# Anthropic (IA Chatbot)
ANTHROPIC_API_KEY=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Redis - Upstash (cache de sesiones)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
